body {
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}


button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0056b3; 
    border-color: #0056b3; 
    color: #e4ebef; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #e4ebef; 
    border-color: #144376; /* Blue border color */
    color: #0b0000; 
}


table.add-ticket{
    width: 100%;
    border-collapse: collapse;
}

table.add-ticket th, table.add-ticket td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table.add-ticket th {
    background-color: #f0f0f0;
}

table.add-ticket td input {
    width: 100%;
    box-sizing: border-box;
}

table.add-ticket td button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

table.add-ticket td button:hover {
    background-color: #c82333;
}


/* Style the tab container */
.tab-container {
    overflow: hidden;
    background-color: #ccc;
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
}

/* Style the buttons inside the tab container */
.tab-button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    flex: 1; /* Ensure buttons take up equal width */
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

/* Change background color of buttons on hover */
.tab-button:hover {
    background-color: #ddd;
}

/* Create an active/current tab link class */
.tab-button.active {
    background-color: white;
    color: #ccc;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}


