body{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/static/images/index.jpg);
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29vw;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.wrapper h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-family:Verdana;
    font-weight: lighter;
}

.wrapper form{
    padding: 0 70px;
    position: relative;
    margin: 30px 0;
}

form .input-box{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 30px 0;
}
  
.input-box input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}


.login{
    margin: -5px 0 20px 5px;
    color: #646464;
}

.login button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.login button:hover {
    background: #0d60ad;
    color: #e9f4fb;
    transition: .5s;
}

input[type="Submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  
}
  
input[type="Submit"]:hover{
    background: #0d60ad;
    color: #e9f4fb;
    transition: .5s;
}

.register-link {
    padding: 0 0 0 30px;
}

.alert-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px 0;
  }
.alert-success {
    color: green;
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px 0;
}