<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}">
    <title>CESMS</title>
</head>
<body>
    <div class="container">
        <!-- Left panel -->
        <div class="left-panel">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
            
            <h1 class="index-brand-title">CESMS</h1>
            <p style="font-size: 1.1rem; opacity: 0.9; max-width: 80%;">
                Campus Event Scheduling and <br> Space Management System
            </p>
        </div>
        <!-- Right panel -->
        <div class="right-panel">
            
            <div class="welcome-text">
                <!-- Box covers only welcome message -->
                <h2>Hello, Student!</h2>
                <p>Ready to explore campus events? Log in to verify your attendance or book a venue.</p>
            </div>
            <!-- Flash messages (outside the box, small text) -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <p class="alert-error" style="color: #2563eb; margin-bottom: 20px;">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <div style="width: 100%;">
                <a href="{{ url_for('auth.login') }}" class="btn-link btn-primary">
                    Login to Portal
                </a>
            </div>
            
        </div>
    </div>
</body>
</html>
